[config]
host = localhost
user = root
pw =
db = table_tennis
table = table_tennis
columns = ID INT, Round VARCHAR(255), Player VARCHAR(255), Game INT, Date DATE, Time TIME, Set1 INT, Set2 INT, Set3 INT, Set4 INT, Set5 INT, Set6 INT, Set7 INT
insert_statement_template = INSERT INTO table_tennis (ID, Round, Player, Game, Date, Time, Set1, Set2, Set3, Set4, Set5, Set6, Set7) VALUES (%%s, %%s, %%s, %%s, %%s, %%s, %%s, %%s, %%s, %%s, %%s, %%s, %%s);
url_template = https://tabletennis.setkacup.com/api/Tournaments/en?date={date}&dayPeriod={period}&